#bg{
    background: url('../../assets/photo-1519681393784-d120267933ba.avif');
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.my-form {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(11px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}